{% csrf_token %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Seeker</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/web/img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/web/css/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Search Form -->
        <div class="search-form d-flex align-items-center">
            <div class="container">
                <form action="index.html" method="get">
                    <input type="search" name="search-form-input" id="searchFormInput"
                        placeholder="Type your keyword ...">
                    <button type="submit"><i class="icon_search"></i></button>
                </form>
            </div>
        </div>

        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="robertoNav">
                        <div class="mt-3 widget-title ">
                            <p class="text-dark"><p class="text-dark"><img src="/static/web/img/logo.png" style="height: 70px !important; width: 110px;"></p></p>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="/index/">Home</a></li>
                                    <li><a href="/about/">About Us</a></li>
                                    <li><a href="/university/">University</a></li>
                                    <li><a href="/institution/">Institution</a></li>
                                    <li><a href="/contact/">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Breadcrumb Area End -->

    <!-- Contact Form Area Start -->
    <div class="roberto-contact-form-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                        <h2>Login</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6" style="margin: auto;">
                    <!-- Form -->
                    <div class="roberto-contact-form">
                        <form action="#" method="post">
                            <div class="row">

                                <div class="col-lg-12 wow fadeInUp" data-wow-delay="100ms">
                                    <input type="email" name="message-email" class="form-control mb-30"
                                        placeholder="Your Email" id="txtEmail">
                                </div>

                                <div class="col-lg-12 wow fadeInUp" data-wow-delay="100ms">
                                    <input type="password" name="message-email" class="form-control mb-30"
                                        placeholder="Your Password" id="txtPassword">
                                </div>
                                
                                <div class="col-12 text-center wow fadeInUp" data-wow-delay="100ms">
                                    <button type="button" id="btn_submit" class="btn roberto-btn mt-15">Login</button>
                                </div>
                                <div class="col-12 text-center wow fadeInUp mt-3" data-wow-delay="100ms">
                                    Don`t have an Account ? <a href="/register/">Register </a>
                                </div>

                                <div class="col-12 text-center wow fadeInUp mt-3" data-wow-delay="100ms">
                                     <a href="/web_forgot_password/">Forgot Password </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Form Area End -->

    <!-- Call To Action Area Start -->
    <!-- <section class="roberto-cta-area mt-5 mb-5">
        <div class="container">
            <div class="cta-content bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/1.jpg);">
                <div class="row align-items-center">
                    <div class="col-12 col-md-7">
                        <div class="cta-text mb-50">
                            <h2>Contact us now!</h2>
                            <h6>Contact +9045769035 </h6>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 text-right">
                        <a href="/contact/" class="btn roberto-btn mb-50">Contact Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Call To Action Area End -->



   <!-- Footer Area Start -->
   <footer class="footer-area section-padding-80-0">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row align-items-baseline justify-content-between">
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-8 col-lg-4">
                    <div class="single-footer-widget mb-80">
                        <!-- Footer Logo -->
                        <!-- <a href="#" class="footer-logo"><img src="img/core-img/logo2.png" alt=""></a> -->
                        <div class="mt-3 fw-bold">
                            <p class="widget-title">Seeker</p>
                        </div>

                        <h4>+9045769035</h4>
                        <span>seeker@gmail.com</span>
                        <span>RPD Cross,Belagavi,Karnataka</span>
                    </div>
                </div>

                <div class="col-12 col-sm-8 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title">Universities</h5>

                        <!-- Footer Nav -->
                        <ul class="footer-nav">
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>RCUB</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>VTU</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Autonomous</a></li>
                            <!-- <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQs</a></li> -->
                        </ul>
                    </div>
                </div>

               
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-8 col-lg-4">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title">Links</h5>

                        <!-- Footer Nav -->
                        <ul class="footer-nav">
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> University</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Contact Us</a></li>
                            <!-- <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQs</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
        <div class="copywrite-content">
            <div class="row align-items-center">
                <div class="col-12 col-md-8">
                    <!-- Copywrite Text -->
                    <div class="copywrite-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Seeker <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <!-- <a
                                href="https://colorlib.com" target="_blank"></a> -->
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="/static/web/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="/static/web/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/web/js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="/static/web/js/roberto.bundle.js"></script>
    <!-- Active -->
    <script src="/static/web/js/default-assets/active.js"></script>

</body>

</html>

<script type="text/javascript">

 $(document).ready(function(){

  $("#btn_submit").click(function (e) {
    //verification

    if ($("#txtEmail").val().trim().length < 1) {
        alert("Please Enter Email");
        $("#txtEmail").focus();
        return false;
    }

    if ($("#txtPassword").val().trim().length < 1) {
        alert("Please Enter Password");
        $("#txtPassword").focus();
        return false;
    }
    
    var formData = new FormData();
    formData.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val());
    formData.append("txtEmail", $("#txtEmail").val());
    formData.append("txtPassword", $("#txtPassword").val());

    $.ajax({
      beforeSend: function () {
        // $(".btn .spinner-border").show();
        $("#btn_submit").attr("disabled", true);
      },
      url: "/check_web_login/",
      type: "POST",
      data: formData,
      processData: false,
      contentType: false,
      success: function (result) {

        if(result == "10") {
            alert("Invalid Email and Password, Please try again");
        } else {
            alert("Login Successful");
            window.location = '/index/';
            // location.reload();
        }
        
      },
      error: function (request, error) {
        console.error(error);
      },
      complete: function () {
        // $(".btn .spinner-border").hide();
        $("#btn_submit").attr("disabled", false);
      },
    });
  });

});

</script>