{% csrf_token %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Seeker</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/web/img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/web/css/style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->

    <!-- Header Area Start -->
    <header class="header-area">
        <!-- Search Form -->
        <div class="search-form d-flex align-items-center">
            <div class="container">
                <form action="index.html" method="get">
                    <input type="search" name="search-form-input" id="searchFormInput"
                        placeholder="Type your keyword ...">
                    <button type="submit"><i class="icon_search"></i></button>
                </form>
            </div>
        </div>

        <!-- Main Header Start -->
        <div class="main-header-area">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="robertoNav">
                        <div class="mt-3 widget-title ">
                            <p class="text-dark"><p class="text-dark"><img src="/static/web/img/logo.png" style="height: 70px !important; width: 110px;"></p></p>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">
                            <!-- Menu Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="nav">
                                    <li class="active"><a href="/index/">Home</a></li>
                                    <li><a href="/about/">About Us</a></li>
                                    <li><a href="/university/">University</a></li>
                                    <li><a href="/institution/">Institution</a></li>
                                    <li><a href="/contact/">Contact</a></li>
                                    <li><a href="/logout_web/">Logout</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Breadcrumb Area End -->

    <!-- Contact Form Area Start -->
    <div class="roberto-contact-form-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                        <h2>My Request Status</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12" >
                    <table class="table" id="request">
                        <tr>
                            <th>Sl No</th>
                            <th>Department</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Address</th>
                            <th>Percentage</th>
                            <th>Previous Education</th>
                            <th>Year of Passing</th>
                            <th>Status</th>
                            <th>Payement Status</th>
                            <th>Action</th>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12" >
                    <table class="table" id="requestInstitution">
                      
                    </table>
                </div>
            </div>
        </div>
    </div>


   <!-- Footer Area Start -->
   <footer class="footer-area section-padding-80-0">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row align-items-baseline justify-content-between">
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-8 col-lg-4">
                    <div class="single-footer-widget mb-80">
                        <!-- Footer Logo -->
                        <!-- <a href="#" class="footer-logo"><img src="img/core-img/logo2.png" alt=""></a> -->
                        <div class="mt-3 fw-bold">
                            <p class="widget-title">Seeker</p>
                        </div>

                        <h4>+9045769035</h4>
                        <span>seeker@gmail.com</span>
                        <span>RPD Cross,Belagavi,Karnataka</span>
                    </div>
                </div>

                <div class="col-12 col-sm-8 col-lg-3">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title">Universities</h5>

                        <!-- Footer Nav -->
                        <ul class="footer-nav">
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>RCUB</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>VTU</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Autonomous</a></li>
                            <!-- <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQs</a></li> -->
                        </ul>
                    </div>
                </div>

               
                <!-- Single Footer Widget Area -->
                <div class="col-12 col-sm-8 col-lg-4">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title">Links</h5>

                        <!-- Footer Nav -->
                        <ul class="footer-nav">
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> University</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Contact Us</a></li>
                            <!-- <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQs</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
        <div class="copywrite-content">
            <div class="row align-items-center">
                <div class="col-12 col-md-8">
                    <!-- Copywrite Text -->
                    <div class="copywrite-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Seeker <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <!-- <a
                                href="https://colorlib.com" target="_blank"></a> -->
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="/static/web/js/jquery.min.js"></script>
    <!-- Popper -->
    <script src="/static/web/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="/static/web/js/bootstrap.min.js"></script>
    <!-- All Plugins -->
    <script src="/static/web/js/roberto.bundle.js"></script>
    <!-- Active -->
    <script src="/static/web/js/default-assets/active.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</body>

</html>

    <script type="text/javascript">

    getData();
    getInstitutionData();
    function getData() {

            var formData = new FormData();
            formData.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val());

            $.ajax({

              url: "/my_request_status_details/",
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {

                for(var i = 0; i < response.length; i++) {
                    let j = i + 1;
                    let isPayment = "";
                    if(response[i].cr_status == "Accepted" && response[i].cr_payment_status == "Pending") {
                        isPayment = '<button type="button" class="btn btn-info" onclick="payment('+response[i].cr_id+')">Pay</button>';
                    } else if(response[i].cr_status == "Rejected"){
                        isPayment = '';
                    }
                    
                    $("#request").append('<tr><td>' + j + '</td><td>' + response[i].cr_department + '</td><td>' + response[i].cr_name + '</td><td>' + response[i].cr_email + '</td><td>' + response[i].cr_mobile + '</td><td>' + response[i].cr_address + '</td><td>' + response[i].cr_percentage + '</td><td>' + response[i].cr_previous_education + '</td><td>' + response[i].cr_year_passing + '</td><td>' + response[i].cr_status +'</td><td>' + response[i].cr_payment_status + '</td><td>'+isPayment+'</td><td style="display: none"; id="unique'+response[i].cr_id+'">'+response[i].cr_created_by+'</td><td id="dept'+response[i].cr_id+'" style="display: none";>'+response[i].cr_department+'</td></tr>');
                }

              }

            });
        }
        function getInstitutionData() {

var formData = new FormData();
formData.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val());

$.ajax({

  url: "/my_request_institution_status_details/",
  type: "POST",
  data: formData,
  processData: false,
  contentType: false,
  success: function(response) {

    for(var i = 0; i < response.length; i++) {
        let j = i + 1;
        let isPayment = "";
        if(response[i].ir_status == "Accepted" && response[i].ir_payment_status == "Pending") {
            isPayment = '<button type="button" class="btn btn-info" onclick="payment1('+response[i].ir_id+')">Pay</button>';
        } else if(response[i].ir_status == "Rejected") {
            isPayment = '';
        }
        $("#requestInstitution").append('<tr><td>' + j + '</td><td>' + response[i].ir_department + '</td><td>'+"  " + response[i].ir_name + '</td><td>' + response[i].ir_email + '</td><td>' + response[i].ir_mobile + '</td><td>' + response[i].ir_address + '</td><td>' + response[i].ir_percentage + '</td><td>' + response[i].ir_previous_education + '</td><td>' + response[i].ir_year_passing + '</td><td>' + response[i].ir_status +'</td><td>' + response[i].ir_payment_status +'</td><td>'+isPayment+'</td><td style="display: none"; id="unique'+response[i].cr_id+'">'+response[i].cr_created_by+'</td><td id="dept'+response[i].cr_id+'" style="display: none";>'+response[i].cr_department+'</td></tr>');
    }

  }

});
}

        function payment(id) {
            // alert($("#unique"+id).text());
           // var totalAmount = amount;
           var totalAmount = 5000;
           var options = {
           "key": "rzp_test_aKbqVbQ3Ciq9KZ",
           // rzp_live_fAt71isKlJSzhX
           "amount": (totalAmount*100), // 2000 paise = INR 20
           "name": "Seeker",
           "description": "Payment",
           "handler": function (response) {
            // alert(response.razorpay_payment_id);
            // submitRegDetails(response.razorpay_payment_id);
            // window.location.href = '/pay_success?name='+$("#txtName").val()+'&email='+$("#txtEmail").val()+'&mobile='+$("#txtMobileNo").val()+'&amount='+amount+'&transaction_id='+response.razorpay_payment_id;
            // alert("Payment is successfull, Thank you for Purchasing with us");
            // window.location.href = "";
            let formData = new FormData();
            formData.append("id", id);
            formData.append("collegeEmail", $("#unique"+id).text());
            formData.append("department", $("#dept"+id).text());
            formData.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val());
            $.ajax({

              url: "/update_payment_request/",
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
                window.location = "/pay_success/"
                // location.reload()
              }
          })


           },
           "prefill": {
               "contact": $("#txtMobileNo").val(),
               "email":   $("#txtEmail").val(),
           },
            
           "theme": {
               "color": "#4caf50"
           }
         };
         var rzp1 = new Razorpay(options);
         rzp1.open();
         // preventDefault();
         // });

       }
       function payment1(id) {
            // alert($("#unique"+id).text());
           // var totalAmount = amount;
           var totalAmount = 5000;
           var options = {
           "key": "rzp_test_aKbqVbQ3Ciq9KZ",
           // rzp_live_fAt71isKlJSzhX
           "amount": (totalAmount*100), // 2000 paise = INR 20
           "name": "Seeker",
           "description": "Payment",
           "handler": function (response) {
            // alert(response.razorpay_payment_id);
            // submitRegDetails(response.razorpay_payment_id);
            // window.location.href = '/pay_success?name='+$("#txtName").val()+'&email='+$("#txtEmail").val()+'&mobile='+$("#txtMobileNo").val()+'&amount='+amount+'&transaction_id='+response.razorpay_payment_id;
            // alert("Payment is successfull, Thank you for Purchasing with us");
            // window.location.href = "";
            let formData = new FormData();
            formData.append("id", id);
            formData.append("collegeEmail", $("#unique"+id).text());
            formData.append("department", $("#dept"+id).text());
            formData.append("csrfmiddlewaretoken", $('input[name=csrfmiddlewaretoken]').val());
            $.ajax({

              url: "/update_payment_request1/",
              type: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
                window.location = "/pay_success/"
                // location.reload()
              }
          })


           },
           "prefill": {
               "contact": $("#txtMobileNo").val(),
               "email":   $("#txtEmail").val(),
           },
            
           "theme": {
               "color": "#4caf50"
           }
         };
         var rzp1 = new Razorpay(options);
         rzp1.open();
         // preventDefault();
         // });

       }
</script>